  body{
    background-repeat: no-repeat;
    background-size: cover;
  }
  h3
  {
    font-size: 25px !important;
  }
.btn-success{
  background-color: darkmagenta;
}

.btn-success:hover
{
	background-color: rgb(245, 123, 237);
}
  canvas {
	  animation-name: example;
	  animation-duration: 4s;
	  animation-iteration-count: infinite;
  }

  /* @keyframes: es la palabra clave que se utiliza cuando queremos
  definir una animación. */
  
@keyframes example {

  /* Primero 1px significa: Que tan hacia el lado derecho del lienzo deseas el
color.
Segundo 1px significa: Que tan hacia el fondo quieres el color.
38px significa: Qué tan extenso deseas que se extienda el color. */

 from {box-shadow: 1px 1px 38px rgb(179, 0, 255);}  /* Aquí le damos la sombra del cuadro en rojo cuando comienza la animación. */
  
  to {box-shadow: 1px 1px 38px rgb(255, 136, 0);}

}
